<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>
  <label>Body</label>
  <%= f.text_area :body %>

  <%= f.submit '保存' %>
<% end %>

<span><%= link_to 'Show', book_path(@book.id) %></span> | <span><%= link_to 'Back', '/books' %></span>
