<h1>Bookers</h1>

<th>Title</th>
<th>Body</th>

<% @books.each do |book| %>
  <span><%= book.title%></span>
  <span><%= book.body%></span>
  <%= link_to 'Show', book_path(book.id) %>
  <%= link_to 'Edit', edit_list_path(book.id) %>
  <%= link_to 'Delete', destroy_list_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

