<th>Title:</tr>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<span><%= @book.title %></span>
<th>Body:</th>
<span><%= @book.body %></span>

<%= link_to 'Edit', edit_list_path(@book.id) %> | <%= link_to 'Back', '/books' %>

